/*------------------------------------------------
	Theme Name: Furniture
	Start Date : May 14 2016
	End Date : May 27 2016
	Last change: June 02 2016
	Version: 1.0
	Assigned to:
	Primary use:
-------------------------------------------------*/
	/* [Layout] */

/*-----------------------------------------------
	* Woocommerce
		
		- Widget area
		- Widget Price Filter
		- Product Detail Tab
		- Product Carousel
		- Selling Section
		
	* Responsive
	
		- min-width: 992 to max-width: 1199
		- min-width: 768 to max-width: 991
		- max-width: 991
		- max-width: 767
		- max-width: 639
		- max-width: 479
		- max-width: 360
-------------------------------------------------*/

@font-face {
	font-family: star;
	src:url("../fonts/star.eot");
	src:url("../fonts/star.eot?#iefix") format("embedded-opentype"),
	url("../fonts/star.woff") format("woff"),
	url("../fonts/star.ttf") format("truetype"),
	url("../fonts/star.svg#star") format("svg");
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family: WooCommerce;
	src:url("../fonts/WooCommerce.eot");
	src:url("../fonts/WooCommerce.eot?#iefix") format("embedded-opentype"),
	url("../fonts/WooCommerce.woff") format("woff"),
	url("../fonts/WooCommerce.ttf") format("truetype"),
	url("../fonts/WooCommerce.svg#WooCommerce") format("svg");
	font-weight:400;
	font-style:normal;
}

/* * Woocommerce */

.woocommerce .products ul, 
.woocommerce ul.products {
	margin-bottom: 50px;
	clear: both;
    list-style: none;
    padding: 0;
	float: left;
	width: 100%;
	box-sizing: border-box;
}
.woocommerce .products ul li, 
.woocommerce ul.products li {
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
	width: 25%;
	position: relative;
	text-align: center;
	margin-bottom: 50px;
}
.woocommerce .products ul li > a, 
.woocommerce ul.products li > a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	width: 100%;
}
.woocommerce .button.product_type_simple.add_to_cart_button {
	background-color: #1daaa3;
	border: 1px solid #1daaa3;
	color: #fff;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 13px;
	padding: 16px 23px;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce .button.product_type_simple.add_to_cart_button:hover {
	border-color: #1daaa3;
	background-color: transparent;
	color: #1daaa3;
}
.woocommerce .hover-content {
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0 auto;
	top: 30%;
	opacity: 0;
	-webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.woocommerce ul.products li.product .product-img::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 70px;
	display: inline-block;
	background-color: transparent;
	-webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}
.woocommerce ul.products li.product:hover .product-img::before {
	background-color: rgba(0,0,0,0.7);
}
.woocommerce ul.products li.product:hover .hover-content {
	opacity: 1;
}
.woocommerce .hover-content i {
	color: #fff;
	font-size: 15px;
	padding-right: 12px;
}
.woocommerce .hover-content span {
	display: block;
}
.woocommerce .hover-content span a.icons > i {
	background-color: #fff;
	color: #1daaa3;
	display: inline-block;
	width: 50px;
	height: 50px;
	padding-right: 0;
	line-height: 50px;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce .hover-content span a.icons > i:hover {
	color: #222;
}
.woocommerce .products ul li a h3, 
.woocommerce ul.products li a h3 {
	font-size: 18.91px;
	color: #503e3e;
	text-transform: uppercase;
	font-family:'Moon-Bold';
	margin-bottom: 0;
	margin-top: 23px;
	position: relative;
	z-index: 1;
}
.woocommerce ul.products li.product .price {
    color: #888;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    display: block;
	font-size: 16px;
	margin-top: 3px;
	text-transform: lowercase;
}
.woocommerce ul.products li.product .amount > span {
	color: #f483e3;	
	font-weight: 700;
}
.woocommerce span.new-product {
	padding: 10px 20px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    margin: 0;
    background-color: #1daaa3;
    color: #fff;
    font-size: 11px;
	letter-spacing: 0.77px;
    -webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-family: 'latosemibold';
}
.woocommerce ul.products li.product .new-product {
	top: 15px;
    right: auto;
    left: 15px;
}
.woocommerce span.onsale {
    padding: 10px 20px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    margin: 0;
    background-color: #ff7a5f;
    color: #fff;
    font-size: 11px;
	letter-spacing: 0.77px;
    -webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-family: 'latosemibold';
}
.woocommerce ul.products li.product .onsale {
    top: 15px;
    right: 15px;
    left: auto;
}
.woocommerce .products ul li a h3, 
.woocommerce ul.products li a h3 {
	color: #222;
	font-size: 13px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.91px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.woocommerce ul.products li.product .price .amount {
	color: #ff7a5f;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 0.32px;
}
.woocommerce ul.products li.product del {
	color: #b5b5b5;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 13px;
	padding-left: 15px;
	letter-spacing: 0.26px;
}
.shop-2 .ow-pagination {
	margin-top: 0;
}
.shop-2 .pagination {
	margin: 0;
}

/* - Widget area */
.shop-1 .widget-area .widget-title {
	font-weight: 500;
	font-size: 20px;
}
.shop-1 .widget-area .widget-latestposts .latest-content {
	padding: 30px 0 50px 100px;
}
.shop-1 .widget-area .widget-latestposts .latest-content h3 {
	padding-right: 0;
	margin-bottom: 5px;
}
.shop-1 .widget-area .widget-latestposts .latest-content p {
	font-size: 18px;
	font-style: normal;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.shop-1 .ow-pagination {
	margin-top: 0;
}
.shop-1 .pagination {
	margin: 0;
}
/* - Widget Price Filter */
.widget-area .widget-price-filter .price-filter {
	padding-left: 11px;
	padding-right: 11px;
}
.widget-area .widget-price-filter .ui-slider-horizontal {
	height: 1px;
	margin-bottom: 32px;
}
.widget-area .widget-price-filter .ui-widget-content {
	background-color: #222;
	border: none;
}
.widget-area .widget-price-filter .ui-widget-header {
	background-color: #222;
}
.widget-area .widget-price-filter .ui-slider .ui-slider-handle {
	background-image: url("../images/price-filter.png");
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
}
.widget-area .widget-price-filter .price-input {
	color: #232323;
	font-size: 13px;
	padding: 9px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	letter-spacing: 0.84px;
	display: inline-block;
	text-transform: uppercase;
}
.widget-area .widget-price-filter .price-filter > a {
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	background-color: #1daaa3;
	padding: 10px 18px;
	border-radius: 0;
	letter-spacing: 0.84px;
	color: #fff;
	margin-top: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.woocommerce.shop-1 .products ul li, 
.woocommerce.shop-1 ul.products li {
	width: 33%;
}
.woocommerce .type-product.product div.thumbnails {
	float: left;
    margin-top: 20px;
   /* width: 100%;*/
}
.woocommerce .type-product.product div.thumbnails a {
	box-sizing: border-box;
	border: 2px solid #eaeaea;
    float: left;
    margin-bottom: 0;
    margin-right: 0;
    width: 84px;
	height: 84px;
	margin: 0 6.5px;
	line-height: 84px;
	text-align: center;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce .type-product.product div.thumbnails a:hover {
	border: 2px solid #1daaa3;
}
.woocommerce .type-product.product div.thumbnails a:first-of-type {
	margin-left: 0;
}
.woocommerce .type-product.product div.thumbnails a:last-of-type {
	margin-right: 0;
}
.mfp-title {
	display: none;
}
.woocommerce-product-rating {
	margin-bottom: 10px;
}
.woocommerce .summary.entry-summary h1 {
	color: #222;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 23px;
    text-transform: uppercase;
}
.woocommerce .star-rating {
    float: left;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}
.woocommerce .star-rating span:before {
    content: "\73\73\73\73\73";
    color: #ffd688;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
	overflow: hidden;
}
.woocommerce .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}
.woocommerce .star-rating span:before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
	color: #ffd688;
}
.woocommerce .widget-area .star-rating:before,
.woocommerce .widget-area .star-rating span:before {
	color: #ffd688;
}
.woocommerce li.product .star-rating:before,
.woocommerce li.product .star-rating span:before {
	color: #fff;
}
.woocommerce .woocommerce-product-rating {
    line-height: 2;
    display: block;
}
.woocommerce .woocommerce-product-rating:after,
.woocommerce .woocommerce-product-rating:before {
    content: " ";
    display: table;
}
.woocommerce .woocommerce-product-rating .star-rating {
    margin: .5em 4px 0 0;
    float: left;
}
.woocommerce .products .star-rating {
    display: inline-block;
    margin: 0 0 .5em;
    float: none;
}
.woocommerce .hreview-aggregate .star-rating {
    margin: 10px 0 0;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
    float: none;
}
.woocommerce a.woocommerce-review-link  {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
}
.woocommerce a.woocommerce-add-link {
	color: #9f9f9f;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
}
.woocommerce a.woocommerce-add-link::before {
	content: "|";
	padding: 0 5px;
}
.woocommerce .amount{
	color: #1daaa3;
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	letter-spacing: -1.28px;
}
.woocommerce p.price span.amount {
	 font-size: 32px;
}
.woocommerce .summary h4 {
	color: #222;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 14px;
}
.woocommerce .summary h4 span {
	color: #1daaa3;
	font-family: 'Poppins', sans-serif;
}
.woocommerce .summary .product-content {
	border-bottom: 1px dotted #e7e7e7;
	padding-bottom: 25px;
	margin: 40px 0;
}
.woocommerce .summary .product-content p {
	color: #444;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	line-height: 28px;
}
.woocommerce .summary .quantity {
	width: 100%;
}
.woocommerce .summary .quantity ,
.woocommerce .quantity label,
.woocommerce .quantity input {
	float: left;
	margin-bottom: 5px;
}
.woocommerce .quantity label {
	margin-right: 15px;
	line-height: 38px;
	margin-bottom: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
}
.woocommerce .quantity input {
	width: 38px;
	height: 38px;
	border: 1px solid #d0d0d0;
	border-right: none;
	border-left: none;
}
.woocommerce .quantity input[type="button"] {
	background-color: transparent;
	border: 1px solid #d0d0d0;
}
.woocommerce .quantity .qty {
    text-align: center;
	padding: 5px 0 4px;
}
.woocommerce button.single_add_to_cart_button.button{
	background-color: #1daaa3;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: 12px 30px;
	display: inline-block;
	color: #fff;
	margin-top: 30px;
	transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
}
.woocommerce button.button.single_add_to_cart_button:hover {
	background-color: #222;
}
.woocommerce button.button.single_add_to_cart_button i {
	margin-right: 10px;
}
.woocommerce a.product-wish {
	background-color: #1daaa3;
	border: 1px solid #1daaa3;
	display: inline-block;
	width: 50px;
	height: 43px;
	line-height: 43px;
	margin-left: 5px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce a.product-wish:hover {
	background-color: transparent;
	border: 1px solid #1daaa3;
	color: #1daaa3;
}

/* - Product Detail Tab */

.woocommerce .product-details-tab .nav-tabs {
	border-bottom: 2px solid #1daaa3;
	padding-top: 58px;
	padding-bottom: 3px;
	margin-top: 50px;
	margin-bottom: 35px;
}
.woocommerce .product-details-tab .nav-tabs > li {
	margin-bottom: 0;
}
.woocommerce .product-details-tab  .nav > li > a {
	color: #333;
    display: inline-block;
	background-color: #f6f6f6;
    font-family: 'Poppins', sans-serif;
	font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    padding: 11px 40px;
	letter-spacing: 0.56px;
	margin-right: 6px;
    text-decoration: none;
    text-transform: uppercase;
	border-radius: 0;
	border: none;
}
.woocommerce .product-details-tab  .nav > li:last-of-type a {
	margin-right: 0;
} 
.woocommerce .product-details-tab .nav-tabs > li.active > a,
.woocommerce .product-details-tab .nav-tabs > li.active > a:focus,
.woocommerce .product-details-tab .nav-tabs > li.active > a:hover {
	background-color: #1daaa3;
	color: #fff;
}
.woocommerce .product-details-tab .nav > li > a:focus,
.woocommerce .product-details-tab .nav > li > a:hover {
	background-color: #1daaa3;
}
.woocommerce  .product-details-tab .tab-content > .tab-pane {
	text-align: left;
	margin-top: 19px;
}
.woocommerce  .product-details-tab .tab-content > .tab-pane p {
	color: #444;
	font-size: 16px;
	font-family: 'Lora', serif;
	padding-right: 30px;
	line-height: 28px;
}
.woocommerce  .product-details-tab .tab-content p.product-details-content {
	font-style: italic;
	font-family: 'Lora', serif;
}


/* - Product Carousel */

.woocommerce ul.products.product-carousel {
	margin-bottom: 0;
	z-index: 0;
}
.woocommerce .products.product-carousel ul li, 
.woocommerce ul.products.product-carousel li {
	width: 100%;
	display: inline-block;
	text-decoration: none;
}
.woocommerce .products.product-carousel ul li span img, 
.woocommerce ul.products.product-carousel li span img {
    -webkit-transform-style: inherit;
    transform-style: inherit;
}
.woocommerce.our-products .products-categories {
	text-align: center;
	padding-left: 0;
	margin-bottom: 60px;
}
.woocommerce.our-products .products-categories li {
	display: inline-block;
	margin-right: 20px;
}
.woocommerce.our-products .products-categories li a {
	color: #222;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 17px;
	border-bottom: solid 1px #e6e6e6;
	font-weight: bold;
	position: relative;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce.our-products .products-categories li a::after {
	content: "";
	border-bottom: solid 3px #e6e6e6;
	width: 100%;
	position: absolute;
	bottom: -6px;
	left: 0;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.woocommerce.our-products .products-categories li a:hover::after {
	border-bottom: solid 3px #1daaa3;
}
.woocommerce.our-products .products-categories li a:hover {
	color: #1daaa3;
	border-bottom: solid 1px #1daaa3;
}
.woocommerce.our-products .slick-arrow {
	border-radius: 0;
	height: 60px;
	width: 35px;
	font-size: 0;
	background-color: #e3e3e3;
	position: absolute;
	top: 35%;
}
.woocommerce.our-products .slick-arrow:hover {
	background-color: #444;
}
.woocommerce.our-products .slick-arrow::before {
	font-family: 'FontAwesome';
	font-size: 18px;
	color: #fff;	
}
.woocommerce.our-products .slick-prev::before {
	content: "\f104";
}
.woocommerce.our-products .slick-next::before {
	content: "\f105";
}
.woocommerce.our-products .slick-prev  {
	left: -80px;
}
.woocommerce.our-products .slick-next  {
	right: -80px;
}
.woocommerce.our-products .slick-prev::before, 
.woocommerce.our-products .slick-next::before {
	line-height: 60px;
}
.woocommerce.our-products .slick-prev:hover, 
.woocommerce.our-products .slick-prev:focus, 
.woocommerce.our-products .slick-next:hover, 
.woocommerce.our-products .slick-next:focus
.woocommerce.our-products .slick-arrow:hover { 
	opacity: 1;
}

/* - Selling Section */
.woocommerce.selling-section h3.selling-title {
	color: #222;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.woocommerce.selling-section .star-rating {
	float: none;
	margin-bottom: 15px;
}
.woocommerce.selling-section .star-rating span::before {
	color: #ff7a5f;
}
.woocommerce.selling-section .selling-content {
	display: inline-block;
	position: relative;
	padding-left: 120px;
	margin-bottom: 40px;
}
.woocommerce.selling-section .selling-content > a {
	position: absolute;
	left: 0;
	top: -10px;
}
.woocommerce.selling-section .selling-content h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px;
	margin-top: 0;
}
.woocommerce.selling-section .selling-content h3 > a {
	color: #222;
	text-decoration: none;
}
.woocommerce.selling-section .selling-content p {
	color: #666;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}

/*------------------------------

	* Responsive
	
------------------------------*/

/* - min-width: 992 to max-width: 1199 */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.woocommerce .type-product.product div.thumbnails a {
		width: 77px;
		height: 77px;
		line-height: 77px;
	}
	.woocommerce.our-products .slick-prev  {
		left: -24px;
	}
	.woocommerce.our-products .slick-next  {
		right: -24px;
	}
	.widget-area .widget-price-filter .price-filter > a {
		padding: 10px 8px;
	}
	.widget-area .widget-price-filter .price-input {
		padding: 9px 0;
		font-size: 10px;
	}
}
/* - min-width: 768 to max-width: 991 */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.woocommerce .products ul, 
	.woocommerce ul.products {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.woocommerce .products ul li:nth-child(odd) a.button, 
	.woocommerce ul.products li:nth-child(odd) a.button {
		left: 0;
	}
	.woocommerce .products ul li:nth-child(even) a.button, 
	.woocommerce ul.products li:nth-child(even) a.button {
		right: 0;
	}
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 33%;
	}
}

/* - max-width: 991 */
@media (max-width: 991px) {
	.woocommerce ul.products li.product {
		max-width: 270px;
		/*display: block;*/
		margin: 0 auto 30px;
	}
	.woocommerce.shop-1 .products ul li, 
	.woocommerce.shop-1 ul.products li {
		width: 50%;
	}
	.related-product ul.products li.product {
		margin-bottom: 30px;
	}
	.woocommerce .type-product.product div.thumbnails a {
		width: 67px;
		height: 67px;
		line-height: 67px;
	}
	.woocommerce.our-products .slick-prev  {
		left: -22px;
	}
	.woocommerce.our-products .slick-next  {
		right: -22px;
	}
}

/* - max-width: 767 */
@media (max-width: 767px) {
	.woocommerce .products ul, 
	.woocommerce ul.products {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	.shop-1 .widget-area {
		margin-bottom: 30px;
	}
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 33%;
	}
	.type-product .images {
		text-align: center;
		margin-bottom: 30px;
	}
	.woocommerce .type-product.product div.thumbnails {
		display: inline-block;
		float: none;
	}
	.woocommerce .product-details-tab .nav > li > a {
		padding: 11px 28px;
	}
	.woocommerce.selling-section h3.selling-title {
		display: block;
	}
	.woocommerce.selling-section .selling-content {
		width: 45%;
	}
}

/* - max-width: 639 */
@media (max-width: 639px) {
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 50%;
	}
	.woocommerce .product-details-tab .nav > li > a {
		padding: 11px 12px;
		font-size: 12px;
	}
	.woocommerce .product-details-tab .nav-tabs > li {
		width: 100%;
		text-align: center;
	}
	.woocommerce .product-details-tab .nav-tabs > li > a {
		margin-bottom: 20px;
	}
	.woocommerce.selling-section .selling-content img {
		max-width: 80px;
	}
	.woocommerce.selling-section .selling-content {
		padding-left: 100px;
	}
	.woocommerce.selling-section .selling-content h3{
		font-size: 15px;
	}
}

/* - max-width: 480 */
@media (max-width: 480px) {
	.woocommerce .products ul li, 
	.woocommerce ul.products li {
		width: 100%;
		display: block;
		float: none;
		max-width: 290px;
		margin-left: auto;
		margin-right: auto;
	}
	.woocommerce.shop-1 .products ul li, 
	.woocommerce.shop-1 ul.products li {
		width: 100%;
	}
	.woocommerce .products ul li:nth-child(odd), 
	.woocommerce ul.products li:nth-child(odd) {
		margin-bottom: 32px;
	}
	.woocommerce .type-product.product div.thumbnails a {
		height: 84px;
		width: 84px;
		line-height: 84px;
	}
	.woocommerce.selling-section .selling-content {
		width: 100%;
	}
}

/* - max-width: 479 */
@media (max-width: 479px) {
	.woocommerce .type-product.product div.thumbnails a {
		margin-bottom: 8px;
	}
	.woocommerce .type-product.product div.thumbnails a:last-of-type {
		margin-left: 0;
	}
	.woocommerce.our-products .products-categories li a {
		margin-bottom: 30px;
		display: inline-block;
	}
}

/* - max-width: 360 */
@media (max-width: 360px) {
	.woocommerce .type-product.product div.thumbnails a {
		height: 70px;
		width: 70px;
		line-height: 70px;
	}
}


